{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@shopify/esnext",
    "plugin:@shopify/typescript",
    "plugin:@shopify/prettier-config"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error"
  }
}
